* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 10px;
}

.input-field {
    height: 40px;
    width: 360px;
}

legend {
    border: 2px solid black;
    font-size: 25px;
}
label {
    font-size: 25px;
    font-weight: 600;
}
input {
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 25px;
}
select {
    height: 40px;
    width: 360px;
    font-size: 25px;
    margin: 20px 0;
}

#submit-btn {
    border: 1px solid black;
    height: 40px;
    width: 180px;
    align-self: center;
}