* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 25px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 20px;  
}

legend {
    border: 1px solid black;
    align-self: center;
}

.input-field {
    height: 40px;
    width: 270px;
    font-size: 16px;
}
#submit-btn{
    height: 40px;
    width: 160px;
}
.remember {
    align-self: self-start;
}

